.body1{

 padding-top: 105px;
}
body{
  width: 100%;
  font-family: ROBOTO, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.upper-bar-text{
display: inline-block;
margin-left: 13px;
font-size:15PX ;
font-family:robotp , Arial, Helvetica, sans-serif;
height: 40px;
margin-top: 17.5px;
text-decoration: none;
color: black;
}

.ALL-categories{
  display: inline-block;
  font-weight:bolder;
  
  


}


.upper-bar{background-color: rgb(255, 255, 255);
padding-left: 120PX;
box-shadow: 0PX 1.5PX 1PX RGBA(0,0,0,0.06);

}

.ALL-categories-2{
  font-size: 25px;
  font-weight: 600;
  margin-left: 10%;
  display: flex;
  align-items: end;
  
  
}
.viewmoreinline{
 display: flex;
justify-content: space-between;

 
}
.View-more{
margin-right: 10%;
font-size: 20px;
color: #3a77ff;
font-weight: 700;
white-space: nowrap;
display: inline-block;
}

.centering{
  
  
}

.categories{ 
margin-left:auto;
column-gap: 30px;
flex-wrap:wrap;
display: flex;
justify-items: center;
margin-right: auto;
row-gap: 10px;
max-width: 80%;
transition: 0.5s ease-in;


}



 .IMG-CATEGORIES{
  height:80px;
  
  }


.categories-img-title{
color: rgb(0, 0, 0);
display: flex;
justify-content: center;
font-size: 15px;
font-weight:500;
max-width: 100px;
word-wrap: break-word;



}


.categories-2{
  display: inline-block;
 text-align: center;
 margin:0;
 padding: 0;

  
  }

  .IMG{
 height:171px;
 width: 300.4PX;
 object-fit: cover;
  }
.ADD-LINKS{
margin: 1%;
border:0.8PX;
border-style: solid;
height: 347px;
width: 300.4PX;
border-radius:5PX;
color: #9494949c!important;
background-color: rgb(255, 255, 255);
}
  
.ADDS{
 margin-left: 9%;
 margin-right: 9%;
  display: flex;
  justify-content: space-between;

}


.TEXT-ADDS{
  margin-left:20PX;

}
.RS{
  font-weight: 700;
  color: black;
  
}
.MODLE{
  color: rgb(0, 47, 52);
  line-height: 23PX;
margin-bottom: 0;}

  .PLACE{
    margin-top: 0;
    margin-bottom: 0;
    color:rgb(0, 47, 52);
  }
.AGO{
  margin-top: 5PX;
  font-size: 15PX;
  color: gray;
  
}

@media (max-width:769px)
{ 
.IMG-CATEGORIES{
  height:2%;
}




}


 
  